@model IEnumerable<LiquadCargoManagment.Models.Bank>

@using Newtonsoft.Json;
@using LiquadCargoManagment.Models;
<table class="table display table-striped" id="example">
    <thead>
        <tr>

            <td>Code</td>
            <td>Name</td>
            <td>Account Title</td>
            @*<td>Account No</td>*@
            <td>Branch Manager</td>
            <td>Branch Manager Contact</td>
            <td>Contact Person</td>
            <td>Contact No</td>
            <td>Email</td>
            <td>Address</td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string jsonData = JsonConvert.SerializeObject(item);
            //string jsonData = "{";
            //jsonData += " 'ID' : '" + item.ID + "', ";
            //jsonData += " 'Code' : '" + item.Code + "', ";
            //jsonData += " 'Name' : '" + item.Name + "', ";
            //jsonData += " 'VType' : '" + item.VendorTypeID + "', ";
            //jsonData += " 'OwName' : '" + item.OwnerContactName + "', ";
            //jsonData += " 'OwContact' : '" + item.OwnerContactNo + "', ";
            //jsonData += " 'PPersonName' : '" + item.PrimaryContactPerson + "', ";
            //jsonData += " 'PPersonContact' : '" + item.PrimaryContactNo + "', ";
            //jsonData += " 'SPersonName' : '" + item.SecContactPerson + "', ";
            //jsonData += " 'SPersonContact' : '" + item.SecContactNo + "', ";
            //jsonData += " 'PTCLNo' : '" + item.PTCLNo + "', ";
            //jsonData += " 'Email' : '" + item.Email + "', ";
            //jsonData += " 'Website' : '" + item.Website + "', ";
            //jsonData += " 'Address' : '" + item.Address + "', ";
            //jsonData += " 'Description' : '" + item.Description + "', ";
            //jsonData += " 'SPersonName' : '" + item.SecContactPerson + "' ";
            //jsonData += "}";
        <tr>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@item.AccountTitle</td>
            @*<td>@item.AccountNo</td>*@ 
            <td>@item.BranchManager</td>
            <td>@item.BranchManagerContact</td>
            <td>@item.ContactPerson</td>
            <td>@item.ContactNo</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>
                <button type="button" onclick="viewRecordRead(@jsonData,this)" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"></i>
                </button>
                <button type="button" onclick="viewRecord(@jsonData,this)" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></button>

                <button type="button" onclick="DeleteModel(@item.BankID)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>
