
@model IEnumerable<LiquadCargoManagment.Models.Bilty>

@using LiquadCargoManagment.Models;
<div class="table-responsive">
    <table class="table display table-striped" id="example">
        <thead>
            <tr>
                <td>Order No</td>
                <td>Order Date</td>
                <td>Bill To</td>
                <td>Sender</td>
                <td>Total Qty</td>
                <td>Total Weight</td>
                <td>Grand Total</td>
                <td>Operation</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderNo</td>
                    <td>@Convert.ToDateTime(item.OrderDate).ToString(SoftwareFormatting.DateFormat)</td>
                    <td>@item.OwnCompany1.Name</td>
                    <td>@item.OwnCompany.Name</td>
                    <td>@string.Format(SoftwareFormatting.NumberFormat, item.OrderDetailsTotalQTY)</td>
                    <td>@string.Format(SoftwareFormatting.NumberFormat, item.OrderDetailsTotalWeight)</td>
                    <td>@item.VehicleExpensesGrandTotal</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></button>
                        <button type="button" onclick="viewRecord()" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></button>
                        <button type="button" onclick="DeleteModel(@item.ID)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>



