
@{
    ViewBag.Title = "Bilty";
}

<div id="page-content" style="min-height: 199px;">

    @*<div class="content-header">

            <div class="header-section">
                <h1>
                    Create Bilty <br><small>Create Read Update Delete TaxRateRegistration</small>
                </h1>
            </div>

        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Admin</li>
            <li><a href="javascript:;">Bilty</a></li>
        </ul>*@
    <!-- END Datatables Content -->

    <div class="block full">

        <div class="block-title row">
            <div class="col-md-12">
                <h2>Create Bilty</h2>
            </div>
        </div>

        <div class="row">
            @*<div class="col-md-2">
                    <label>Bilty No</label>
                    <input type="text" class="form-control" autocomplete="off" id="WorkOrderNo" value="@Model.WorkOrder.WorkOrderNo" disabled>
                </div>*@
            <div class="col-md-2">
                <label>Bilty Date</label>
                <input type="date" class="form-control" id="OrderDate" required />
            </div>
            <div class="col-md-2">
                <label>Delivery Date</label>
                <input type="date" class="form-control" id="DeliveryDate">
            </div>
            <div class="col-md-2">
                <label>Bill To</label>
                @Html.DropDownList("billto", ViewBag.bill as SelectList, "Select", new { @class = "form-control Search",@id="ddlBillTo" })
            </div>
            <div class="col-md-2">
                <label>Sender</label>
                @Html.DropDownList("Sender", ViewBag.Sender as SelectList, "Select", new { @class = "form-control Search",@id="ddlSender" })

            </div>
        </div>
    </div>


    <div class="block full">
        <div class="block-title row">
            <div class="col-md-12">
                <h2>Order Details</h2>
            </div>
        </div>

        <div class="table-responsive">
            <table id="Add" class="table table-responsive" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        @*<td><label>Sr #</label></td>*@
                        <td><label>Receiver</label></td>
                        <td><label>Product Broker</label></td>
                        <td><label>Product Type</label></td>
                        <td><label>Product</label></td>
                        <td><label>Weight</label></td>
                        <td><label>Unit</label></td>
                        <td><label>Quantity</label></td>
                        <td><label>Total Weight</label></td>
                        <td><label>Remarks</label></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @*<td style="width:50px"><input type="text" class="form-control" autocomplete="off" name="SrNo" id="SrNo" disabled></td>*@
                        <td>
                            @Html.DropDownList("Reciever", ViewBag.li as SelectList, "Select", new { @class = "form-control Search", @id = "txtReciever" })
                            @Html.ValidationMessage("Reciever", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.DropDownList("ProductBroker", ViewBag.pb as SelectList, "Select", new { @class = "form-control Search", @id = "txtProductBroker" })
                        </td>
                        <td>
                            @Html.DropDownList("Category", ViewBag.pt as SelectList, "Select", new { @class = "form-control Search", @id = "txtProductType" })
                        </td>
                        <td>
                            @Html.DropDownList("Product", ViewBag.p as SelectList, "Select", new { @class = "form-control Search", @id = "txtProduct" })
                        </td>
                        <td style="width:50px">
                            <input type="text" class="form-control amount" autocomplete="off" name="Weight" pattern="([0-9]{1,3}).([0-9]{1,3})" onkeypress="return inputLimiter(event,'custom')" onkeyup="Grandtotal('#Add',4,'weight')" id="txtWeight">
                        </td>
                        <td style="width:50px">
                            <input type="text" class="form-control "readonly="readonly" autocomplete="off" name="Unit" onkeyup="Grandtotal('#Add',5,'unit')" id="txtunit" >
                        </td>
                        <td style="width:50px">
                            <input type="text" class="form-control amount" autocomplete="off" onkeyup="Grandtotal('#Add',6,'qty')" name="Quantity" id="txtQuantity">
                        </td>
                        <td style="width:100px">
                            <input type="text" class="form-control txtTotalWeight" autocomplete="off" readonly name="TotalWeight" onkeyup="Grandtotal('#Add', 7,'totalweight')" id="txtTotalWeight">
                        </td>
                        <td>
                            <input type="text" class="form-control" autocomplete="off" name="Remarks" id="txtRemarks">
                        </td>
                        @*<td><input type="button" value="Remove" onclick="Remove(this)" /></td>*@
                        <td><button type="button" id="btnSaveEdit" class="btn btn-info" onclick="AddRow(this)">Add Line</button></td>
                    </tr>


                </tbody>
                <tfoot>
                    <tr class="grand_total" style="font-weight:bold;">
                        <td colspan="4">Grand Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <br />
        <div class="block-title row">
            <div class="col-md-12">
                <h2>Vehicle & Freight</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>Vehcile Type</label>
                    @Html.DropDownList("ID", ViewBag.VehicleTypes as SelectList, "-Select-", new { @class = "form-control Search",@id="ddlVehicleType" ,@required = true })

                </div>
                <div class="col-md-3">
                    <label>Vehicle Reg #</label>
                    @Html.DropDownList("VehicleID", ViewBag.Reg as SelectList, "-Select-", new { @class = "form-control Search",@id="ddlVehicleReg" ,@required = true })
                </div>
                <div class="col-md-3">
                    <label>Freight</label>
                    <input type="text" class="form-control" id="txtFreight" />
                </div>
            </div>
        </div>
        <br /><br />
        <div class="block-title row">
            <div class="col-md-12">
                <h2>Vehicle Expenses</h2>
            </div>
        </div>
        <div class="table-responsive">
            <table id="AddExpense" class="table table-responsive" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><label>Expense Type</label></td>
                        <td><label>Payment Method</label></td>
                        <td><label>Bank Br</label></td>
                        <td><label>Cheque No</label></td>
                        <td><label>Cheque Date</label></td>
                        <td><label>Amount Rs.</label></td>
                    </tr>
                </thead>


                <tbody>
                    <tr>
                        <td>
                            @Html.DropDownList("ID", ViewBag.Expense as SelectList, "-Select-",  new { @class = "form-control Search", @id = "txtExpenseTypeName" })
                        </td>
                        <td>
                            <select class="form-control" onchange="DisabledFields(this)">
                                <option value="bank">BANK</option>
                                <option value="cash">CASH</option>
                            </select>
                        </td>
                        <td>
                            @Html.DropDownList("Name", ViewBag.Bank as SelectList, "Select", new { @class = "form-control Search", @id = "ddlBankBranch" })
                        </td>
                        <td>
                            <input type="number" class="form-control" autocomplete="off" name="Amount" id="txtChequeNo">
                        </td>
                        <td>
                            <input type="date" class="form-control" autocomplete="off" name="ChequeDate" id="txtChequeDate">
                        </td>
                        <td>
                            <input type="number" class="form-control" autocomplete="off" name="Amount" onkeyup="GrandtotalExpense('#AddExpense', 5,'Amount')" id="txtAmount">
                        </td>
                        @*<td><input type="button" value="Remove" onclick="Remove(this)" /></td>*@
                        <td><button type="button" id="btnSaveEdit" class="btn btn-info" onclick="AddRowExpense(this)">Add Line</button></td>
                    </tr>


                </tbody>
                <tfoot>
                    <tr class="grand_total">
                        <td colspan="5"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="table-responsive">
            <table id="AddDeisel" class="table table-responsive" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><label>Deisel Expenses</label></td>
                        <td><label>Account</label></td>
                        <td><label>Liter</label></td>
                        <td><label>Rate</label></td>
                        <td><label>Amount Rs.</label></td>
                    </tr>
                </thead>


                <tbody>
                    <tr>
                        <td>
                            @*<select class="form-control">
                                <option>Item</option>
                            </select>*@
                            @Html.DropDownList("VendorType", ViewBag.vendorTypes as SelectList, new { @class = "form-control Search" , @disabled = "disabled" })
                        </td>
                        <td>
                            @*<select class="form-control">
                                <option>Item</option>
                            </select>*@
                            @Html.DropDownList("VendorType", ViewBag.vendors as SelectList, "Select", new { @class = "form-control Search" })

                           
                        </td>
                        <td>
                            <input type="number" class="form-control" autocomplete="off" name="Liter" id="txtLiter">
                        </td>
                        <td>
                            <input type="number" class="form-control" autocomplete="off" name="Rate" id="txtRate">
                        </td>
                        <td>
                            <input type="number" class="form-control" autocomplete="off" name="Amount" onkeyup="TotalDieselExpense('#AddDeisel', 4,'DieselAmount')" id="txtAmount">
                        </td>
                        @*<td><input type="button" value="Remove" onclick="Remove(this)" /></td>*@
                        <td><button type="button" id="btnSaveEdit" class="btn btn-info" onclick="AddRowDeisel(this)">Add Line</button></td>
                    </tr>


                </tbody>
                <tfoot>
                    <tr class="grand_total">
                        <td colspan="4"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-info" id="Addbtn"><b><i class="fa fa-save"></i> Save</b></button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>





<script src="/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/css/customDataTable.css">
<link rel="stylesheet" href="/css/DataTableThemeController.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https:/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>


    function DisabledFields(e) {
        if ($(e).val() == "bank") {
            $('#txtChequeNo').attr("readonly", false);
            $('#txtChequeDate').attr("readonly", false);
            $('#ddlBankBranch').attr("disabled", false);
        }
        else {
           $('#txtChequeNo').attr("readonly", true);
        $('#txtChequeDate').attr("readonly", true);
        $('#ddlBankBranch').attr("disabled", true);
        }
       
    }

    //$(document).ready(function () {
    //    $("#SrNo").val(1);
    //    $("#SrNo").attr('readonly', true);
    //});

    //$(document).ready(function () {
    //    $("#OrderDate").datepicker({
    //        altField: "#OrderDate",
    //        altFormat: "d MM, yy"
    //    });

    //});
    //$(document).ready(function () {
    //    $("#DeliveryDate").datepicker({
    //        altField: "#DeliveryDate",
    //        altFormat: "d MM, yy"
    //    });
    //});

    //$(document).ready(function () {
    //    $("#txtChequeDate").datepicker({
    //        altField: "#txtChequeDate",
    //        altFormat: "d MM, yy"
    //    });
    //});
    $(document).ready(function () {
        $("#example").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });


        //Product Cascading Dropdown


        $("#txtPackageType").change(function () {

            $.get("/Admin/getProductList", { ID: $("#txtPackageType").val() }, function (data) {

                $("#txtProduct").empty();
                $.each(data, function (index, row) {

                    $("#txtProduct").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
        });


    });


    //Account and Diesel
    

    $("#txtDiesel").change(function () {

        $.get("/Admin/getAccount", { ID: $("#txtDiesel").val() }, function (data) {

            $("#txtAccount").empty();
            $.each(data, function (index, row) {

                $("#txtAccount").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
            });
        });
    });





    //SEARCHABLE DROPDOWN

    //$(document).ready(function () {
    //    $(".Search").chosen();
    //})

    //SEARCHABLE DROPDOWN


    function Message(title, text, type) {
        Swal.fire({
            title: title + '!',
            text: text,
            icon: type,
            confirmButtonText: 'OK'
        })
    }
    function GetOrders() {
        $('#example').DataTable();
    }

    function ClearItem() {
        $("input[type='text']").val('');
        $("input[type='hidden']").val('');
    }


    function AddRow(A) {
        debugger;
        var parent = $(A).parent("td").parent("tr").html();
        parent = parent.replace("btn-info", "btn-danger").replace("Add Line", "Remove").replace("AddRow", "remove");
        $("#Add").find("tbody").append(`<tr>${parent}</tr>`);
    }
    function remove(e) {
        $(e).parent("td").parent("tr").fadeOut(300, function () { $(this).remove(); });
    }

    function AddRowExpense(A) {
        debugger;
        var parent = $(A).parent("td").parent("tr").html();
        parent = parent.replace("btn-info", "btn-danger").replace("Add Line", "Remove").replace("AddRow", "remove");
        $("#AddExpense").find("tbody").append(`<tr>${parent}</tr>`);
    }
    function removeExpense(e) {
        $(e).parent("td").parent("tr").fadeOut(300, function () { $(this).remove(); });
    }

    function AddRowDeisel(A) {
        debugger;
        var parent = $(A).parent("td").parent("tr").html();
        parent = parent.replace("btn-info", "btn-danger").replace("Add Line", "Remove").replace("AddRow", "remove");
        $("#AddDeisel").find("tbody").append(`<tr>${parent}</tr>`);
    }
    function removeDeisel(e) {
        $(e).parent("td").parent("tr").fadeOut(300, function () { $(this).remove(); });
    }


    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("tr");
        var name = $("tr", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {
            //Get the reference of the Table.
            var table = $("#Add")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("table").on("change", "input", function () {  
        var tableRow = $(this).closest("tr");
        var one = Number(tableRow.find("#txtWeight").val()); 
        var two = Number(tableRow.find("#txtQuantity").val()); 
        var total = one * two;  //calculate total
        tableRow.find("#txtTotalWeight").val(total);  //set value
    });

   

        function Grandtotal(q, totalColumnIndex, type) {
            let grTotal = 0;
            for (var i = 0; i < $(q).find("tbody tr").length; i++) {

                grTotal += parseFloat($(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim() == "" ? 0 : $(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim());
            }
            if (type == "weight") {
                $(q).find("tr.grand_total td:eq(1)").text(grTotal);
            }

                //else if (type == "unit") {
                //    $(q).find("tr.grand_total td:eq(2)").text(grTotal);
                //}
            else if (type == "qty") {
                $(q).find("tr.grand_total td:eq(3)").text(grTotal);
            }
            else if (type == "totalweight") {
                $(q).find("tr.grand_total td:eq(4)").text(grTotal);
            }
        }



        function GrandtotalExpense(q, totalColumnIndex, exp) {
            let grTotal = 0;
            for (var i = 0; i < $(q).find("tbody tr").length; i++) {
                grTotal += parseFloat($(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim() == "" ? 0 : $(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim());
            }
            if (exp == "Amount") {
                $(q).find("tr.grand_total td:eq(1)").text(grTotal);
            }
    }

    function TotalDieselExpense(q, totalColumnIndex, exp) {
            let grTotal = 0;
            for (var i = 0; i < $(q).find("tbody tr").length; i++) {
                grTotal += parseFloat($(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim() == "" ? 0 : $(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim());
            }
            if (exp == "DieselAmount") {
                $(q).find("tr.grand_total td:eq(1)").text(grTotal);
            }
        }


    $("body").on("click", "#Addbtn", function () {
        let Order = {}
        //let OrderNo = $("input[name='WorkOrderNo']").val();
        let OrderDate = $('#OrderDate').val();
        let DeliveryDate = $('#DeliveryDate').val();
        let BillTo = $("#ddlBillTo").val();
        let Sender = $("#ddlSender").val();
        let VehicleType = $("#ddlVehicleType").val();
        let VehicleReg = $("#ddlVehicleReg").val();
        let Freight = $("#txtFreight").val();
        if (OrderNo == "" || OrderDate == "" || DeliveryDate == "" || BillTo == "" || Sender == "" || VehicleType == "" || VehicleReg == "" || Freight == "") {
            Message("Required", "Enter all requried fields", "error");
            return;
        }
        Order.WorkOrderNo = OrderNo;
        Order.OrderDate = OrderDate;
        Order.BillTo = BillTo;
        Order.Sender = Sender;
        Order.VehicleType = VehicleType;
        Order.VehicleReg = VehicleReg;
        Order.Freight = Freight;
        Order.OrderDetailsTotalQTY = $("#Add").find("tfoot tr.grand_total td:eq(6)").text();
        Order.OrderDetailsTotalWeight = $("#Add").find("tfoot tr.grand_total td:eq(7)").text();
        Order.VehicleExpensesGrandTotal = $("#AddExpense").find("tfoot tr.grand_total td:eq(5)").text();
        Order.DieselExpensesGrandTotal = $("#AddDeisel").find("tfoot tr.grand_total td:eq(4)").text();
        
        var customers = new Array();
        $("#Add tbody tr").each(function () {
            var row = $(this);
            var customer = {};
            //customer.WordOrderID = row.find("td").eq(0).find("input").val();
            customer.Reciever = row.find("td:eq(0) select option:selected").val();
            customer.ProductBroker = row.find("td:eq(1) select option:selected").val();
            customer.Category = row.find("td:eq(2) select option:selected").val();
            customer.Product = row.find("td:eq(3) select option:selected").val();
            customer.Weight = row.find("td:eq(4) input").val();
            customer.unit = row.find("td:eq(5) input").val();
            customer.Quantity = row.find("td:eq(6) input").val();
            customer.TotalWeight = row.find("td:eq(7) input").val();
            customer.Remarks = row.find("td:eq(8) input").val();
            customer = row.find("td:eq(8) input").val();
            customers.push(customer);
        });

        $("#AddExpense tbody tr").each(function () {
            var row = $(this);
            var VehicleExpense = {};
            VehicleExpense.Expense = row.find("td:eq(0) input").val();
            VehicleExpense.PaymentMethod = row.find("td:eq(1) input").val();
            VehicleExpense.BankBranch = row.find("td:eq(2) input").val();
            VehicleExpense.ChequeNo = row.find("td:eq(3) input").val();
            VehicleExpense.ChequeDate = row.find("td:eq(4) input").val();
            VehicleExpense.Amount = row.find("td:eq(5) input").val();
            VehicleExpense = row.find("td:eq(8) input").val();
            VehicleExpense.push(VehicleExpense);
        });

        $("#AddDeisel tbody tr").each(function () {
            var row = $(this);
            var Deisel = {};
            Deisel.DeiselExpense = row.find("td:eq(0) input").val();
            Deisel.Account = row.find("td:eq(1) input").val();
            Deisel.Liter = row.find("td:eq(2) input").val();
            Deisel.Rate = row.find("td:eq(3) input").val();
            Deisel.Amount = row.find("td:eq(4) input").val();
            Deisel.push(Deisel);
        });
        $.ajax({
            type: "POST",
            url: "../Admin/InsertBilty",
            data: { Details: customers, Order: Order , Expenses: VehicleExpense , Diesal:Deisel},
            success: function (r) {
                Message("Success", r.Message, "success");
                window.location = "../Admin/BiltyGrid";
            }
        });

    });








    

</script>